$primary-color: #66a5c5;
$primary-color-alt: #353f57;
$secondary-color: #ff305d;
$bg-color: #323c54;
$bg-alt: #353f57;
$color-font: #f1f1f1;
$color-font-alt: #78beff;
$font: "Rubik", sans-serif;

// $bg-color-dark: #151515;
// $bg-alt-dark: #1f1f1f;
// $bg-font-dark: #ebebeb;
